	body {
		margin-left: 3px;
		margin-right: 3px;
		
	}
	.header-container{
		display: flex;
		margin-bottom: 5px;
		border: 1px solid red;
		align-items: center;
		gap: 2px;
	}

	.sec{
		flex: 2;
		background-color: aquamarine;
		justify-content: center;
	}

	.header-item{
		display: grid;
		text-align: center;
		align-items: center;
		/* padding: 1em; */
		
	}

	.grid{
		display: grid;
		text-align: center;
		align-items: center;
	}

	.logo{
		background-color: aqua;
		width: 120px;
		height: 100px;
	}

	.headline{
		height: 100px;
	}

	.signin{
		background-color: rgb(14, 229, 157);
		width: 120px;
		height: 100px;
	}

	.navbar{
		display: flex;
		width: 100%;
		
	}

	.main-body-container{
		display: flex;
		border: 1px solid rgb(237, 9, 9);
		gap: 5px;
		margin-bottom: 5px;
	}

	.adv{
		border: 1px solid black;
	}

	.space{
		display: grid ;
		text-align: center;
		align-items: center;
		width: 15%;
		height: 500px;
		background-color: rgb(221, 224, 236);

	}



	.contents{
		flex: 2;
		background-color: antiquewhite;
	}


	.post-container{
		display: flex;
		gap: 10px;
	}


	