<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post View</title>
</head>
<body>
    <h1>Welcome</h1>
    <% if (locals.data1) { %>
        <p> <%= data1 %></p>
    <% } else { %>
        <p>No Posts</p>
    <% } %>
</body>
</html>